			<div class="section contact paddedForMenu" data-name="contact">
				<div class="contents">
					<div class="lighterDark">
						<div class="title">
							<div class="background"></div>
							<div>Možda ste nas videli u</div>
						</div>
						<div class="logosWrap">
							<div class="background"></div>
							<div class="logo">
								<div class="wrap">
									<a href="/">
										<img src="/images/bwLogo.png">
									</a>
								</div>
							</div>
							<div class="logo">
								<div class="wrap">
									<a href="/">
										<img src="/images/cpLogo.png">
									</a>
								</div>
							</div>
							<div class="logo">
								<div class="wrap">
									<a href="/">
										<img src="/images/galerijaLogo.png">
									</a>
								</div>
							</div>
							<div class="logo">
								<div class="wrap">
									<a href="/">
										<img src="/images/adoreLogo.png">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="contactItemsSection">
						<div class="text">KONTAKT</div>
						<div class="text">
							<a href="https://www.google.com/maps/place/Skulptor/@44.8566336,20.359236,17z/data=!3m1!4b1!4m5!3m4!1s0x475a667b7945c487:0xa3f5e8c83b36d4be!8m2!3d44.8566336!4d20.3614247" target="_blank">Beograd, Autoput za Novi<br>Sad 69</a>
						</div>
						<div class="contactIcon">
							<a href="https://www.google.com/maps/place/Skulptor/@44.8566336,20.359236,17z/data=!3m1!4b1!4m5!3m4!1s0x475a667b7945c487:0xa3f5e8c83b36d4be!8m2!3d44.8566336!4d20.3614247" target="_blank"><img src="/icons/location.png"></a>
						</div>
						<div class="text">
							<a href="tel:+38163227290">Telefon: +381 63 227 290</a>
						</div>
						<div class="text">
							<a href="tel:+38163247146">Mobilni: +381 63 247 146</a>
						</div>
						<div class="text">
							<a href="mailto:office@terapot.eu">Email: office@terapot.eu</a>
						</div>
						<div class="contactIcon">
							<a href="https://www.instagram.com/terapot.eu/" target="_blank"><img src="/icons/instagram.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div><!--#site-wrap-->
		<script src="/js/scroll.js?v=<%=new Date().getTime()%>"></script>
		<script src="/js/scale.js?v=<%=new Date().getTime()%>" defer></script>
	</body>
</html>