<div id="menu">
	<div class="logo" onclick="window.location.href='/'">
		<img src="/images/Terapot-Logo-Black.png" class="black">
		<img src="/images/Terapot-Logo-White.png" class="white">
	</div>
	<div class="menu" id="main-menu">
		<div class="item" data-name="">
			<!--<img src="/icons/lang.svg" width="20" class="black">
			<img src="/icons/lang-white.svg" width="20" class="white">-->
			<a href="" id="lang">SRP</a>
		</div>
		<script>
			var pageUrl	=	window.location.href;
			document.getElementById("lang").setAttribute("href",pageUrl.replace(".eu/",".eu/rs/"))
		</script>
		<div class="item" onclick="menuScrollToSection(this)" data-sectionnum="5" data-name="vision">
			ABOUT<div class="border"></div>
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-sectionnum="1" data-name="products">
			PRODUCTS<div class="border"></div>
			<div class="subMenu">
				<div class="item"><a href="/oblo">OBLO</a></div>
				<div class="item"><a href="/tara">TARA</a></div>
				<div class="item"><a href="/tisa">TISA</a></div>
				<div class="item"><a href="/drina">DRINA</a></div>
				<div class="item"><a href="/standard">STANDARD</a></div>
				<div class="item"><a href="/round">ROUND</a></div>
			</div>
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-sectionnum="6" data-name="fiberglass">
			WHY FIBERGLASS<div class="border"></div>
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="contact">
			CONTACT<div class="border"></div>
		</div>
	</div>
	<div class="menu rMenu">
		<div class="item" data-name="">
			<!--<img src="/icons/lang.svg" width="20" class="black">
			<img src="/icons/lang-white.svg" width="20" class="white">-->
			<a href="" id="lang2">SRP</a>
			<script>
				var pageUrl	=	window.location.href;
				document.getElementById("lang2").setAttribute("href",pageUrl.replace(".eu/",".eu/rs/"))
			</script>
		</div>
		<div class="item rItemHandle" onclick="responsiveMenuOpen(this)">
			<div class="topHandle handle"></div>
			<div class="bottomHandle handle"></div>
		</div>
		<script>
			function responsiveMenuOpen(elem){
				var menuItem = document.getElementById("menu");
				if(menuItem.classList.contains("mainMenuOpened")){
					menuItem.classList.remove("mainMenuOpened");
					if(document.getElementById("site-wrap").style.top=="0px"){
						menuItem.classList.remove("whiteMenu")
					}
				}else{
					menuItem.classList.add("mainMenuOpened");
					if(!menuItem.classList.contains("whiteMenu")){
						menuItem.classList.add("whiteMenu")
					}
				}
			}
		</script>
	</div>
</div>