<div id="menu">
	<div class="logo">
		<img src="/images/logo.png" class="black">
		<img src="/images/logo-white.png" class="white">
	</div>
	<div class="menu" id="main-menu">
		<div class="item" data-name="">
			<img src="/icons/lang.svg" width="20" class="black">
			<img src="/icons/lang-white.svg" width="20" class="white">
		</div>
		<div class="item itemActive" onclick="menuScrollToSection(this)" data-name="about">
			ABOUT
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="products">
			PRODUCTS
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="fiberglass">
			WHY FIBERGLASS
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="contact">
			CONTACT
		</div>
	</div>
	<div class="menu rMenu">
		<div class="item" data-name="">
			<img src="/icons/lang.svg" width="20" class="black">
			<img src="/icons/lang-white.svg" width="20" class="white">
		</div>
		<div class="item rItemHandle" onclick="responsiveMenuOpen(this)">
			<div class="topHandle handle"></div>
			<div class="bottomHandle handle"></div>
		</div>
		<script>
			function responsiveMenuOpen(elem){
				var menuItem = document.getElementById("menu");
				if(menuItem.classList.contains("mainMenuOpened")){
					menuItem.classList.remove("mainMenuOpened")
				}else{
					menuItem.classList.add("mainMenuOpened")
				}
			}
		</script>
	</div>
</div>