<div id="menu">
	<div class="logo">
		<img src="/images/logo.png">
	</div>
	<div class="menu">
		<div class="item" data-name="">
			<img src="/icons/lang.svg" width="20">
		</div>
		<div class="item itemActive" onclick="menuScrollToSection(this)" data-name="about">
			about
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="products">
			products
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="fiberglass">
			why fiberglass
		</div>
		<div class="item" onclick="menuScrollToSection(this)" data-name="contact">
			contact
		</div>
	</div>
</div>