<div class="scrollIndication" onclick="scrollToSection(1);">
	<div class="nonResponsive">
		<div class="mouse animated">
			<img src="/icons/mouse-icon-white.png">
		</div>
		<div class="arrow">
			<img src="/icons/down-arrow.png">
		</div>
	</div>
	<div class="responsive">
		<div class="scroller animated">
			<img src="/icons/down-arrow.png">
		</div>
	</div>
</div>