<div class="scrollIndication" onclick="window.scroll({top: 100*vh,left: 0,behavior: 'smooth'});">
	<div class="nonResponsive">
		<div class="mouse animated">
			<img src="/icons/mouse-icon-white.png">
		</div>
		<div class="arrow">
			<img src="/icons/down-arrow.png">
		</div>
	</div>
	<div class="responsive">
		<div class="scroller animated">
			<img src="/icons/down-arrow.png">
		</div>
	</div>
</div>