<%- include ("partials/header") -%>
	<div class="section home">
		<div class="writting">
			<div class="title">HANDCRAFTED POTS FOR TIMELESS DURABILITY</div>
			<div class="text">All pots are made of fiberglass - material is used in various industries like marine, aerospace, architectural, medical etc.</div>
			<div class="buttonsWrap">
				<div class="button black">
					LET'S TALK
				</div>
				<div class="button">
					EXPLORE
				</div>
			</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/OBLO.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">OBLO</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/TARA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TARA</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/TISA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TISA</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/DRINA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">DRINA</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/STANDARD.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">STANDARD</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/ROUND.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">ROUND</div>
		</div>
	</div>
	<div class="section arrivals">
		<div id="arriving-products" style="left:0px;">
			<div class="item" data-active="1" style="background-image:url(/images/new-arrival-3.png)"></div>
			<div class="item" style="background-image:url(/images/new-arrival-3.png)"></div>
			<div class="item" style="background-image:url(/images/new-arrival-3.png)"></div>
		</div>
		<div class="arrivalTitle">
			<div class="button">available in april</div>
			<div class="title">TARA<br>COLLECTION</div>
		</div>
		<div class="navigation">
			<div class="item" onclick="scrollArrivals(-1)">
				<img src="/icons/leftArrow.svg" width="50">
			</div>
			<div class="item" onclick="scrollArrivals(1)">
				<img src="/icons/rightArrow.svg" width="50">
			</div>
			<script>
				function scrollArrivals(direction){
					var items	=	document.getElementById("arriving-products").getElementsByClassName("item");
					var currentItemIndex	=	-1;
					for(var i=0;i<items.length;i++){
						if(Number(items[i].dataset.active)==1){
							currentItemIndex	=	i;
							break;
						}
					}
					if(currentItemIndex>=0){
						var newItemIndex	=	currentItemIndex + direction;
						if(items[newItemIndex]){
							for(var i=0;i<items.length;i++){
								items[i].dataset.active=0;
							}
							items[newItemIndex].dataset.active=1;
							var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
							document.getElementById("arriving-products").style.left = eval(-1*newItemIndex*vw)+"px";
						}else{
							console.log("No such item");
						}
					}else{
						console.log("Couldnt figure out active element");
					}
				}
			</script>
		</div>
	</div>
	<div class="section vision">
		<div class="overlay"></div>
		<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future where you no longer have to choose between doing great things and doing the right thing.</div>
	</div>
	<div class="section diagrams">
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/frost.png">
				</div>
				<div class="title">FROST - RESISTANCE</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/UV.png">
				</div>
				<div class="title">UV - RESISTANCE</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/indoor.png">
				</div>
				<div class="title">INDOOR READY</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/durability.png">
				</div>
				<div class="title">DURABILITY</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/strength.png">
				</div>
				<div class="title">STRENGTH</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/lightness.png">
				</div>
				<div class="title">LIGHTNESS</div>
				<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future.</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>