<%- include ("partials/header") -%>
	<div class="section home">
		<div class="writting">
			<div class="title">HANDCRAFTED POTS FOR TIMELESS DURABILITY</div>
			<div class="text">All pots are made of fiberglass - material is used in various industries like marine, aerospace, architectural, medical etc.</div>
			<div class="buttonsWrap">
				<div class="button black">
					LET'S TALK
				</div>
				<div class="button">
					EXPLORE
				</div>
			</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/OBLO.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">OBLO</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/TARA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TARA</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/TISA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TISA</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/DRINA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">DRINA</div>
		</div>
	</div>
	<div class="section products">
		<div class="product">
			<div class="image" style="background-image:url(/images/STANDARD.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">STANDARD</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/ROUND.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">ROUND</div>
		</div>
	</div>
	<div class="section" style="background-color:white"></div>
<%- include ("partials/footer") -%>