<%- include ("partials/header") -%>
	<div class="section home" data-name="about">
		<div class="writting">
			<div class="title">HANDCRAFTED FIBERGLASS POTS FOR TIMELESS DURABILITY</div>
			<div class="text">Fiberglass is a material made of very fine fibers of glass, used in the construction of boats, automobiles, marine and aerospace. It has superb weight to strenght ratio and resistance to all weather conditions.</div>
			<div class="buttonsWrap">
				<div class="button black" onclick="scrollDirectlyToSection(9)">
					LET'S TALK
				</div>
				<div class="button" onclick="scrollDirectlyToSection(4)">
					EXPLORE
				</div>
			</div>
		</div>
	</div>
	<div class="section products" data-name="products">
		<div class="product">
			<div class="image" style="background-image:url(/images/OBLO.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">OBLO</div>
			<div class="rText" style="top:15%;right:10%">OBLO</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/TARA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TARA</div>
			<div class="rText" style="top:15%;left:10%">TARA</div>
		</div>
	</div>
	<div class="section products" data-name="products">
		<div class="product">
			<div class="image" style="background-image:url(/images/TISA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">TISA</div>
			<div class="rText" style="top:15%;right:10%">TISA</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/DRINA.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">DRINA</div>
			<div class="rText" style="top:15%;right:10%">DRINA</div>
		</div>
	</div>
	<div class="section products" data-name="products">
		<div class="product">
			<div class="image" style="background-image:url(/images/STANDARD.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">STANDARD</div>
			<div class="rText" style="top:15%;right:5%;font-size:9vw">STANDARD</div>
		</div>
		<div class="product">
			<div class="image" style="background-image:url(/images/ROUND.jpg)"></div>
			<div class="overlay"></div>
			<div class="text">ROUND</div>
			<div class="rText" style="top:15%;left:10%">ROUND</div>
		</div>
	</div>
	<div class="section arrivals" data-name="products">
		<div id="arriving-products" style="left:0px;">
			<div class="item" data-active="1" style="background-image:url(/images/new-arrival-3.png)">
				<div class="arrivalTitle">
					<div class="title">TARA<br>COLLECTION</div>
					<div class="button">AVAILABLE IN APRIL</div>
				</div>
			</div>
			<div class="item" style="background-image:url(/images/new-arrival-3.png)">
				<div class="arrivalTitle">
					<div class="title">TARA<br>COLLECTION</div>
					<div class="button">AVAILABLE IN APRIL</div>
				</div>
			</div>
			<div class="item" style="background-image:url(/images/new-arrival-3.png)">
				<div class="arrivalTitle">
					<div class="title">TARA<br>COLLECTION</div>
					<div class="button">AVAILABLE IN APRIL</div>
				</div>
			</div>
		</div>
		
		<div class="navigation">
			<div class="item" onclick="scrollArrivals(-1)">
				<img src="/icons/leftArrow.svg" width="50" class="white">
				<img src="/icons/leftArrow-black.svg" width="50" class="black">
			</div>
			<div class="item" onclick="scrollArrivals(1)">
				<img src="/icons/rightArrow.svg" width="50" class="white">
				<img src="/icons/rightArrow-black.svg" width="50" class="black">
			</div>
			<script>
				function scrollArrivals(direction){
					var items	=	document.getElementById("arriving-products").getElementsByClassName("item");
					var currentItemIndex	=	-1;
					for(var i=0;i<items.length;i++){
						if(Number(items[i].dataset.active)==1){
							currentItemIndex	=	i;
							break;
						}
					}
					if(currentItemIndex>=0){
						var newItemIndex	=	currentItemIndex + direction;
						if(items[newItemIndex]){
							for(var i=0;i<items.length;i++){
								items[i].dataset.active=0;
							}
							items[newItemIndex].dataset.active=1;
							var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
							document.getElementById("arriving-products").style.left = Math.max(eval(-1*newItemIndex*vw),-1*newItemIndex*1920)+"px";
						}else{
							console.log("No such item");
						}
					}else{
						console.log("Couldnt figure out active element");
					}
				}
			</script>
		</div>
	</div>
	<div class="section vision" data-name="vision">
		<div class="overlay"></div>
		<div class="text">At Terapot, we believe in the dream ahead. Our relentless focus on innovation, luxury, and sustainability moves us toward a future where you no longer have to choose between doing great things and doing the right thing.</div>
	</div>
	<div class="section fiberglass" data-name="fiberglass">
		<div class="title">WHY CHOOSE FIBERGLASS PLANTERS?</div>
		<div class="text">Although the pot has a simple role, the characteristics it should fulfill are very demanding. Strength, resistance to weather conditions and design (shape and finish) are key element when choosing pots. Whether it is used outdoors or indoors, it is essential that the pot must be strong so that it does not bend and deform under the influence of soil and root pressure. Additionally, the most demanding, probably the most important quality feature and the one that makes the biggest difference is weather, water and moisture resistance.</div>
		<div class="buttonWrap">
			<div class="button">FIND MORE</div>
		</div>
		<div class="plantersWrap">
			<div class="planter">
				<div class="imageWrap" style="background-image:url(/images/woodenPlanters.jpg)"></div>
				<div class="title">WOODEN PLANTERS</div>
			</div>
			<div class="planter">
				<div class="imageWrap" style="background-image:url(/images/concretePlanters.jpg)"></div>
				<div class="title">CONCRETE PLANTERS</div>
			</div>
			<div class="planter">
				<div class="imageWrap" style="background-image:url(/images/metalPlanters.jpg)"></div>
				<div class="title">METAL PLANTERS</div>
			</div>
		</div>
	</div>
	<div class="section diagrams" data-name="diagrams">
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/frost.png">
				</div>
				<div class="title">FROST - RESISTANCE</div>
				<div class="text">Fiberglass does not easily break or become damaged when exposed to freezing temperatures due to the properties of the glass fibers.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/UV.png">
				</div>
				<div class="title">UV - RESISTANCE</div>
				<div class="text">Glass fibers do not absorb UV radiation, which makes them suitable for outdoor use. as well as resistant to fading over time.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/indoor.png">
				</div>
				<div class="title">INDOOR READY</div>
				<div class="text">Fiberglass pots are easy to move around and they don't leave marks on the floor, they come in different colors and styles, which makes them suitable for different types of interior design.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/durability.png">
				</div>
				<div class="title">DURABILITY</div>
				<div class="text">Fiberglass is a strong, lightweight material that is resistant to weathering and corrosion, which makes it a suitable material for plant pots.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/strength.png">
				</div>
				<div class="title">STRENGTH</div>
				<div class="text">Fiberglass is known for its high strength-to-weight ratio. This means that it can support a large amount of weight for its size.</div>
			</div>
		</div>
		<div class="diagram">
			<div class="diagramContent">
				<div class="icon">
					<img src="/icons/lightness.png">
				</div>
				<div class="title">LIGHTNESS</div>
				<div class="text">Lightweight is one of their main advantages in certain indoor or outdoor spaces where weight is a concern.</div>
			</div>
		</div>
	</div>
	<div class="section diagram2" data-name="diagram2" data-animationclassname="animatedDiagram2">
		<div class="image">
			<img src="/images/circ.png">
			<div class="title">
				CIRCULAR<br>POTS
			</div>
			<div class="dotWrap" style="left:23%;top:33%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">TOP COAT</div></div>
				</div>
			</div>
			<div class="dotWrap" style="left:20%;top:41%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">PRIMER</div></div>
				</div>
			</div>
			<div class="dotWrap" style="left:26%;top:51%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">TOP GELCOAT</div></div>
				</div>
			</div>
			<div class="dotWrap" style="left:30%;top:61%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">PREMIUM FIBERGLASS</div></div>
				</div>
			</div>
			<div class="dotWrap" style="left:33%;top:72%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">BASE GELCOAT</div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="section diagram3" data-name="diagram3" data-animationclassname="animatedDiagram3">
		<div class="image">
			<img src="/images/rect.png">
			<div class="title">
				RECTANGULAR<br>POTS
			</div>
			<div class="dotWrap" style="right:51%;top:44%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">UV TRANSPARENT VARNISH</div></div>
				</div>
			</div>
			<div class="dotWrap" style="right:49%;top:51%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">UV PROTECTED PAINT</div></div>
				</div>
			</div>
			<div class="dotWrap" style="right:47.5%;top:56%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">GELCOAT</div></div>
				</div>
			</div>
			<div class="dotWrap" style="right:45.5%;top:61%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">PREMIUM FIBERGLASS</div></div>
				</div>
			</div>
			<div class="dotWrap" style="right:39%;top:65%">
				<div class="relative">
					<div class="dot"></div>
					<div class="line"><div class="text">HONEYCOMB</div></div>
				</div>
			</div>
			<div class="dotWrapUpRight" style="right:27%;top:58%">
				<div class="relative">
					<div class="dot"></div>
					<div class="lineUp"></div>
					<div class="line"><div class="text">BASE GELCOAT</div></div>
				</div>
			</div>
			<div class="dotWrapUpLeft" style="right:32%;top:53%">
				<div class="relative">
					<div class="dot"></div>
					<div class="lineUp"></div>
					<div class="line"><div class="text">PREMIUM FIBERGLASS</div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="section contact" data-name="contact">
		<div class="lighterDark">
			<div class="title">You may have seen us in</div>
			<div class="logosWrap">
				<div class="logo">
					<div class="wrap">
						<a href="/">
							<img src="/images/bwLogo.png">
						</a>
					</div>
				</div>
				<div class="logo">
					<div class="wrap">
						<a href="/">
							<img src="/images/cpLogo.png">
						</a>
					</div>
				</div>
				<div class="logo">
					<div class="wrap">
						<a href="/">
							<img src="/images/galerijaLogo.png">
						</a>
					</div>
				</div>
				<div class="logo">
					<div class="wrap">
						<a href="/">
							<img src="/images/adoreLogo.png">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="contactItemsSection">
			<div class="text">CONTACT</div>
			<div class="text">
				<a href="https://www.google.com/maps/place/Skulptor/@44.8566336,20.359236,17z/data=!3m1!4b1!4m5!3m4!1s0x475a667b7945c487:0xa3f5e8c83b36d4be!8m2!3d44.8566336!4d20.3614247" target="_blank">Beograd, Autoput za Novi<br>Sad 69</a>
			</div>
			<div class="contactIcon">
				<a href="https://www.google.com/maps/place/Skulptor/@44.8566336,20.359236,17z/data=!3m1!4b1!4m5!3m4!1s0x475a667b7945c487:0xa3f5e8c83b36d4be!8m2!3d44.8566336!4d20.3614247" target="_blank"><img src="/icons/location.png"></a>
			</div>
			<div class="text">
				<a href="tel:+38163227290">Phone: +381 63 227 290</a>
			</div>
			<div class="text">
				<a href="tel:+38163227290">Mobile: +381 63 247 146</a>
			</div>
			<div class="text">
				<a href="mailto:office@skulptor.eu">Email: office@skulptor.eu</a>
			</div>
			<div class="contactIcon">
				<a href="https://www.instagram.com/terapot.eu/" target="_blank"><img src="/icons/instagram.png"></a>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>