<%- include ("partials/headerrs") -%>
	<script>
		document.getElementById("menu").classList.add("blackMenu");
	</script>
	<div class="section whyFiberHead" data-name="about">
		<%- include("partials/scrollIndicator") -%>
	</div>
	<div class="section whyFiberTextPhoto">
		<div class="contents">
			<div class="title">
				KAKO ODABRATI PRAVU SAKSIJU
			</div>
			<div class="photoText">
				<div class="overlay"></div>
				<div class="text">
					Odlučili ste da ukrasite svoju baštu ili prostor i tražite odgovarajuće saksije koje će se uklopiti u vaše okruženje? Najčešća dilema je koju vrstu lonca izabrati i zašto. U daljem tekstu ćemo vas uputiti na sve vrste lonaca na tržištu, kao i na prednosti i mane svake od njih. Kada je reč o sadilicama – saksijama većih zapremina i za profesionalnu upotrebu, na tržištu se najčešće nude sejalice od drveta, metala, plastike, betona i fiberglasa.
				</div>
			</div>	
		</div>
		
	</div>
	<div class="section photoTextSideBySide paddedForMenu blackFont">
		<div class="contents">
			<div class="photo" style="background-image: url(/images/woodenPlanters.jpg);"></div>
			<div class="textWrap">
				<div class="title">
					<div>DRVENE SAKSIJE</div>
					<div class="text">
						Drvene sadilice su odličan izbor kada je u pitanju prirodan izgled i u tom pogledu su nezamenljiva opcija. U zavisnosti od konstrukcije, zaista su jaki i srednje težine. Najveći nedostatak drvenih sadilica je njihova otpornost na vremenske uslove, kao i održavanje koje je neophodno za produženje njihovog veka trajanja. U veoma agresivnim uslovima, kako u samoj sadilici, tako i oko nje, drvo nije najbolji izbor zbog sklonosti truljenju u vlažnim uslovima, a na spoljašnjoj strani sejalice je potrebno svake godine naneti novu zaštitu kako bi se da zadrži izgled i produži život.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section photoTextSideBySide paddedForMenu blackFont">
		<div class="contents">
			<div class="textWrap">
				<div class="title">
					<div>BETONSKE SAKSIJE</div>
					<div class="text">
						Po ceni, betonari nemaju konkurenciju. Sa izuzetnom otpornošću, minimalnim održavanjem i relativnom veličinom, oni su najpristupačnija opcija. Najčešći nedostatak betonskih saksija - sadilica, pored ogromne težine, je i sam izgled u smislu veoma ograničenih mogućnosti završne obrade kao i relativno grubih površina.
					</div>
				</div>
			</div>
			<div class="photo" style="background-image: url(/images/concretePlanters.jpg);"></div>
		</div>
	</div>
	<div class="section photoTextSideBySide paddedForMenu blackFont">
		<div class="contents">
			<div class="photo" style="background-image: url(/images/metalPlanters.jpg);"></div>
			<div class="textWrap">
				<div class="title">
					<div>METALNE SAKSIJE</div>
					<div class="text">
						Kada su u pitanju saksije veće zapremine, metalne sadilice su najčešće sadilice ovog tipa na tržištu. Razlog tome je prihvatljiva cena u odnosu na veličinu lonca, kao i relativno dobar izbor završne obrade. Najveći nedostatak metalnih sadilica je korozija koja nastaje usled dugotrajnog izlaganja vlažnoj sredini. Bez obzira na način zaštite, u praksi se pokazalo da je otpornost metalnih lonaca na koroziju maksimalno godinu dana. Nakon toga potrebno je popraviti i primeniti novu zaštitu na delovima na kojima se pojavila korozija. Pored toga, u slučajevima kada je težina sadilice važna, metalne sejalice su u najgorem položaju.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section photoTextSideBySide paddedForMenu blackFont">
		<div class="contents">
			<div class="textWrap">
				<div class="title">
					<div>PLASTIČNE SAKSIJE</div>
					<div class="text">
						Po ceni, betonari nemaju konkurenciju. Sa izuzetnom otpornošću, minimalnim održavanjem i relativnom veličinom, oni su najpristupačnija opcija. Najčešći nedostatak betonskih saksija - sadilica, pored ogromne težine, je i sam izgled u smislu veoma ograničenih mogućnosti završne obrade kao i relativno grubih površina.
					</div>
				</div>
			</div>
			<div class="photo" style="background-image: url(/images/plasticPlanters.jpg);"></div>
		</div>
	</div>
	<div class="section photoTextSideBySide paddedForMenu blackFont">
		<div class="contents">
			<div class="photo" style="background-image: url(/images/whatIsFiberglass.jpg);"></div>
			<div class="textWrap">
				<div class="title">
					<div>ŠTA JE FIBERGLAS?</div>
					<div class="text">
						Fiberglass je kompozitni materijal napravljen od poliesterske smole i staklenih vlakana. Specifičnost ovog materijala je u relativnoj čvrstoći u odnosu na težinu, ali i otpornosti na najagresivnije uslove. Upravo je to jedan od razloga zašto se najčešće koristi u izgradnji glisera, jahti i vazduhoplovnoj industriji. Kao najočigledniji dokaz otpornosti i izdržljivosti fiberglasa možemo videti glisere koji su bili izloženi najagresivnijim vremenskim uslovima (slana voda, jako sunce, niske temperature) preko 20 godina bez većih promena.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section textByText paddedForMenu blackFont">
		<div class="contents">
			<div class="textWrap textWrapLeft">
				<div class="title">
					<div>CENE SAKSIJA</div>
					<div class="text">
						Cena stakloplastike, osim što zavisi od kvalitetne sirovine od koje je napravljena, u većoj meri zavisi i od samog načina izrade. Sve sejalice se izrađuju ručno kroz komplikovan proizvodni proces, uz naknadnu detaljnu i finu obradu kako bi se dobila izuzetna završna obrada površine. Proces proizvodnje saksija od fiberglasa obuhvata izradu skupih kalupa, pripremu kalupa, pripremu materijala, ručno livenje, obradu sadilica, pripremu za farbanje i farbanje auto lakovima u komori. Da bi se dobio kvalitet, nijedan od ovih procesa se ne može skratiti ili ubrzati, a to podrazumeva relativno veliki broj čovek-sati ručnog rada do svake savršene sejalice.
					</div>
				</div>
			</div>
			<div class="textWrap textWrapRight">
				<div class="title">
					<div>FIBERGLAS SAKSIJE</div>
					<div class="text">
						Sadilice od fiberglasa su najčešći izbor profesionalaca. Razlog leži u izuzetnom odnosu snage i lakoće, ali pre svega izdržljivosti (otpornosti na vremenske uslove). Iz ovih razloga, ove posude obično dolaze sa višegodišnjom garancijom. Pored ovih prednosti, na prvi pogled najuočljivija je raznovrsnost oblika kao i izuzetna finoća završne površine. U slučaju visokokvalitetnih fiberglas saksija, kao završni sloj se koriste najkvalitetniji lakovi sa izuzetnom otpornošću na UV zračenje.
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="section materials nonAnimatedMaterials paddedForMenu blackFont" data-removeanimationclassname="nonAnimatedMaterials">
		<div class="contents">
			<div class="title">KVALITET MATERIJALA</div>
			<div class="tables">
				<div class="table">
					<div class="title">DRVENE SAKSIJE</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:39%"></div>
						<div class="text">SNAGA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:44%"></div>
						<div class="text">TEŽINA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:27%"></div>
						<div class="text">OTPORNOST NA VODU</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:37%"></div>
						<div class="text">UV OTPORNOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:23%"></div>
						<div class="text">IZDRŽLJIVOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:50%"></div>
						<div class="text">ZAVRŠNI TRETMAN</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:31%"></div>
						<div class="text">CENA</div>
					</div>
				</div>

				<div class="table">
					<div class="title">BETONSKE SAKSIJE</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:75%"></div>
						<div class="text">SNAGA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:100%"></div>
						<div class="text">TEŽINA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:60%"></div>
						<div class="text">OTPORNOST NA VODY</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:100%"></div>
						<div class="text">UV OTPORNOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:95%"></div>
						<div class="text">IZDRŽLJIVOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:30%"></div>
						<div class="text">ZAVRŠNI TRETMAN</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:40%"></div>
						<div class="text">CENA</div>
					</div>
				</div>

				<div class="table">
					<div class="title">METALNE SAKSIJE</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:85%"></div>
						<div class="text">SNAGA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:90%"></div>
						<div class="text">TEŽINA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:40%"></div>
						<div class="text">OTPORNOST NA VODU</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:95%"></div>
						<div class="text">UV OTPORNOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:45%"></div>
						<div class="text">IZDRŽLJIVOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:90%"></div>
						<div class="text">ZAVRŠNI TRETMAN</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:65%"></div>
						<div class="text">CENA</div>
					</div>
				</div>

				<div class="table">
					<div class="title">PLASTIČNE SAKSIJE</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:60%"></div>
						<div class="text">SNAGA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:40%"></div>
						<div class="text">TEŽINA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:95%"></div>
						<div class="text">OTPORNOST NA VODU</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:35%"></div>
						<div class="text">UV OTPORNOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:50%"></div>
						<div class="text">IZDRŽLJIVOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:65%"></div>
						<div class="text">ZAVRŠNI TRETMAN</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:20%"></div>
						<div class="text">CENA</div>
					</div>
				</div>

				<div class="table">
					<div class="title">FIBERGLASS SAKSIJE</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:95%"></div>
						<div class="text">SNAGA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:40%"></div>
						<div class="text">TEŽINA</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:100%"></div>
						<div class="text">OTPORNOST NA VODU</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:95%"></div>
						<div class="text">UV OTPORNOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:85%"></div>
						<div class="text">IZDRŽLJIVOST</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:100%"></div>
						<div class="text">ZAVRŠNI TRETMAN</div>
					</div>
					<div class="row">
						<div class="background"></div>
						<div class="fill" style="width:80%"></div>
						<div class="text">CENA</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>
<%- include ("partials/footerrs") -%>