@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
    font-size: 16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    text-decoration: none;
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    margin:.67em 0;
    font-size:2em
}
mark{
    color:#000;
    background:#ff0
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width: 100%;
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    margin:0;
    font:inherit;
    color:inherit
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:0;
    border:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-spacing:0;
    border-collapse:collapse
}
td,th{
    padding:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#menu{
    padding:20px 6%;
    position:fixed;
    top:0px;
    width:100%;
    left:0px;
    right:0px;
    max-width: 1920px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    z-index:1100;
    font-size:0px;
    color:rgb(0,0,0);
    margin:0 auto;
}

#menu .logo, #menu .menu{
    display:inline-block;
    vertical-align: middle;
    font-size:10px;
}

#menu .logo{
    width:100px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    position:relative;
    top:8px;
    cursor:pointer;
}

#menu .logo .black{
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}



#menu .logo .white{
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

#menu .menu{
    width:calc(100% - 100px);
    text-align:right;
}

#menu .menu .item{
    display:inline-block;
    vertical-align: middle;
    margin-left: 40px;
    cursor: pointer;
    position:relative;
    font-weight:400;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    font-size:13px;
}

#menu .menu .item .border{
    width:0%;
    position:absolute;
    bottom:-5px;
    left:0;
    height:2px;
    background-color:rgb(97,181,1);
    border-radius:2px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#menu .menu .item:hover .border{
    width:100%;
}

#menu .menu .item a{
    color:rgb(0,0,0);
}

.blackMenu .menu .item a{
    color:rgb(255,255,255) !important;
}

.whiteMenu .menu .item a{
    color:rgb(255,255,255) !important;
}

#menu .menu .item .white{
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity:0;
}

#menu .menu .item .black{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity:1;
}

#menu .menu .itemActive{
    font-weight:500;
}

#menu .menu .item img{
    display: block;
}

.whiteMenu{
    background-color:rgba(26,26,26,0.94);
    padding:15px 5% !important;
}

.whiteMenu .logo{
    width:70px !important;
}


.whiteMenu .logo .white{
    opacity:1 !important;
}

.whiteMenu .logo .black{
    opacity:0 !important;
}

.whiteMenu .menu .item{
    color:rgb(255,255,255);
}

.whiteMenu .menu .item .black{
    opacity:0 !important;
}

.whiteMenu .menu .item .white{
    opacity:1 !important;
}

.blackMenu{
    background-color:rgba(26,26,26,0.94);
    /*background-color:rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.8);
    background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 41%, rgba(0,0,0,0) 100%);*/
    padding:15px 5% !important;
}

.blackMenu .logo{
    width:70px !important;
}


.blackMenu .logo .white{
    opacity:1 !important;
}

.blackMenu .logo .black{
    opacity:0 !important;
}

.blackMenu .menu .item{
    color:rgb(255,255,255);
}

.blackMenu .menu .item .black{
    opacity:0 !important;
}

.blackMenu .menu .item .white{
    opacity:1 !important;
}

.blackMenu .rItemHandle .handle{
    background-color:rgb(255,255,255);
}


/*#site-wrap{
    max-width:1920px;
    margin:0 auto;
    position:fixed;
    top:0;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    transition: all ease 0.9s;
    z-index:1000;
}*/

#site-wrap{
    max-width:1920px;
    margin:0 auto;
    position:relative;
    z-index:1000;
}

.section{
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-width:1920px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}



.section .content{
    scale:1;
}

.home{
    background-image: url(/images/Terapot2.jpg);
    background-size:cover;
    background-position: right bottom;
    color:rgb(0,0,0);
}

.home .writting{
    position:absolute;
    top:50%;
    left:6%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width:41%;
}

.home .writting .title{
    font-size:45px;
    font-weight:500;
    margin-bottom:20px;
    line-height: 60px;
}

.home .writting .text{
    width:78%;
    font-size:16px;
    line-height: 24px;
    margin-bottom:60px;
    text-align: justify;
}

.home .writting .buttonsWrap{
    text-align:left;
}

.home .writting .buttonsWrap .button{
    display:inline-block;
    vertical-align: middle;
    font-size:16px;
    font-weight:500;
    padding:12px 35px;
    border:3px solid rgb(0,0,0);
    margin-right:25px;
    border-radius:25px;
    cursor:pointer;
    background-color:rgba(0,0,0,0);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(0,0,0);
}


.home .writting .buttonsWrap .black{
    background-color:rgba(0,0,0,1);
    color:rgb(255,255,255);
}

.home .writting .buttonsWrap .button:hover{
    background-color:rgba(97,181,1,1);
    color:rgb(255,255,255);

}

.products{
    background-color:rgb(33,32,34);
    font-size:0;
}

#site-wrap .products{
    padding-top:5px !important;
}

.products .product{
    font-size:20px;
    width:50%;
    height:100vh;
    background-color:white;
    display:inline-block;
    vertical-align: bottom;
    position:relative;
    background-color:rgb(33,32,34);
    overflow:hidden;
}

.products .product .background{
    background-image:url(/images/potBackground.jpg);
    background-size: cover;
    background-position: center center;
    position:absolute;
    top:0;
    left:0;
    width:calc(100% - 5px);
    bottom:0;
    z-index:100;
}

.products .product .image{
    width:100%;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index:110;
}

.products .product .text{
    width:100%;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index:105;
    opacity:0;
}

.products .product:hover .text{
    opacity:1;
}

.arrivals{
    background: linear-gradient(180deg, rgba(20,19,17,1) 0%, rgba(32,31,29,1) 100%);
}

.arrivals .responsive{
    display:none;
}


.arrivals #arriving-products{
    font-size:0;
    width:10000vw;
    position: relative;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.arrivals #arriving-products .item{
    width:100vw;
    height:100vh;
    max-width:1920px;
    text-align:center;
    display:inline-block;
    vertical-align: middle;
    position:relative;
    margin-top:-132px;
}

.arrivals .navigation{
    position:absolute;
    bottom:50px;
    text-align:center;
    width:100%;
}

.arrivals .navigation .item{
    display:inline-block;
    vertical-align: middle;
    margin:0 20px;
    border-radius:50px;
    background-color:rgba(255,255,255,0);
    position:relative;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    width:45px;
}

.arrivals .navigation .item img{
    display:block;
}

.arrivals .navigation .item:hover{
    background-color:rgba(255,255,255,1);
}


.arrivals .navigation .item .black{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.arrivals .navigation .item .white{
    opacity:1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.arrivals .navigation .item:hover .white{
    opacity:0;
}

.arrivals .navigation .item:hover .black{
    opacity:1;
}

.arrivals .arrivalTitle{
    position:absolute;
    top:120px;
    width:100vw;
    max-width:1920px;
    text-align:center;
}

.arrivals .arrivalTitle .button{
    color:rgb(255,255,255);
    margin-top:40px;
    font-size:16px;
    font-weight:100;
    text-align:center;
}

.arrivals .arrivalTitle .title{
    font-size:32px;
    color:rgba(255,255,255,0.8);
}

.vision{
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url(/images/vision2.jpg);
}

.vision .overlay{
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.vision .text{
    font-size:40px;
    font-weight:300;
    color:rgb(255,255,255);
    line-height:55px;
    position:relative;
    width:40%;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    text-align:center;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.diagrams{
    background-color:rgb(33,32,34);

}

.diagramsWrap{
    color:rgb(255,255,255);
    font-size:0px;
    text-align:center;
    position:absolute;
    margin-top:60px;
    top:50%;
    width:100%;
    left:0%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
        margin-top:25px;
}

.diagrams .diagram{
    width:33%;
    display:inline-block;
    vertical-align: top;
    font-size:16px;
    margin-bottom:29px;
}



.diagrams .diagram .diagramContent{
    width:200px;
    margin:0 auto;
}

.diagrams .diagram .diagramContent .title{
    font-weight: 500;
    font-size:20px;
    margin-bottom:10px;
}

.diagrams .diagram .diagramContent .text{
    font-size:14px;
    line-height:19px;
    font-weight:300
}

.diagram2{
    background-color:rgb(33,32,34);
}

.diagram2 .image{
    position:relative;
    width: 100vw;
    height: 100vh;
    max-width:1920px;
    height: calc(var(--vh, 1vh) * 100 - 70px);
}

.diagram2 .image img{
    max-width: 100%;
    display: block;
}

.diagram2 .image .main, .diagram2 .image .lines{
    position:absolute;
    left:0%;
    bottom:0%;
    width:100%;
}

.diagram2 .image .lines{
    -webkit-transition: opacity ease 5s;
    -moz-transition: opacity ease 5s;
    -ms-transition: opacity ease 5s;
    -o-transition: opacity ease 5s;
    transition: opacity ease 5s;
    opacity:0;
}

.animatedDiagram2 .image .lines{
    opacity:1;
}

.diagram2 .rImage{
    position:relative;
    width: 100vw;
    height: 100vh;
    max-width:1080px;
    height: calc(var(--vh, 1vh) * 100 - 70px);
    display:none;
}

.diagram2 .rImage img{
    display: block;
    width:auto !important;
}

.diagram2 .rImage .main, .diagram2 .rImage .lines{
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
}

.diagram2 .rImage .lines{
    -webkit-transition: opacity ease 5s;
    -moz-transition: opacity ease 5s;
    -ms-transition: opacity ease 5s;
    -o-transition: opacity ease 5s;
    transition: opacity ease 5s;
    opacity:0;
}

.diagram2 .lImage .main, .diagram2 .lImage .lines{
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
}

.diagram2 .lImage .lines{
    -webkit-transition: opacity ease 5s;
    -moz-transition: opacity ease 5s;
    -ms-transition: opacity ease 5s;
    -o-transition: opacity ease 5s;
    transition: opacity ease 5s;
    opacity:0;
}

.animatedDiagram2 .rImage .lines{
    opacity:1;
}

.animatedDiagram2 .lImage .lines{
    opacity:1;
}

.diagram2 .lImage{
    display:none;
}



.diagram3{
    background-color:rgb(33,32,34);
}

.diagram3 .image{
    position:absolute;
    bottom:0;
    right:0;
    overflow:hidden;
}

.diagram3 .dotWrap{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrap{
    opacity:1;
}

.diagram3 .image img{
    max-width: 100%;
    display: block;
}

.diagram3 .dotWrap .relative{
    
}

.diagram3 .title{
    left:5vw;
    top:5vw;
    font-weight: 900;
    position: absolute;
    text-align: left;
    font-size:5vw;
    letter-spacing: 20px;
}

.diagram3 .dotWrap .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrap .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:40vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:1vw;
    top:3.25vw;
    text-align:right;
}
.diagram3 .dotWrap .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:left;
    font-size:1.25vw;
    font-weight:500;
}



.diagram3 .dotWrapUpRight{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrapUpRight{
    opacity:1;
}

.diagram3 .dotWrapUpRight .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrapUpRight .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:21vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    left:0.5vw;
    top:-14vw;
    text-align:right;
}

.diagram3 .dotWrapUpRight .lineUp{
    height:17vw;
    background-color: rgb(255,255,255);
    width:1px;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    left:0.5vw;
    top:-14vw;
    text-align:right;
}


.diagram3 .dotWrapUpRight .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:right;
    font-size:1.25vw;
    font-weight:500;
}



.diagram3 .dotWrapUpLeft{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrapUpLeft{
    opacity:1;
}

.diagram3 .dotWrapUpLeft .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrapUpLeft .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:21vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:0.5vw;
    top:-14vw;
    text-align:right;
}

.diagram3 .dotWrapUpLeft .lineUp{
    height:17vw;
    background-color: rgb(255,255,255);
    width:1px;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:0.5vw;
    top:-14vw;
    text-align:right;
}


.diagram3 .dotWrapUpLeft .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:left;
    font-size:1.25vw;
    font-weight:500;
}



.contact{
    background-color:rgb(0,0,0);
    color:rgb(219,219,219);
}

.contact a{
    color:rgb(219,219,219);
}

.contact .title{
    font-size:40px;
    font-weight:600;
    text-align:center;
    margin-top:60px;
    margin-bottom:17px;
}

.contact .contactWrap{
    font-size:0;
    text-align: center;
}

.contact .contactWrap .inline{
    display:inline-block;
    vertical-align: top;
    width:25%;
    font-size:20px;
}

.contact .contactWrap .inline .wrap{
    width:80%;
    max-width:150px;
    margin:0 auto;
}

.contact .contactWrap .inline .wrap .text{
    margin-top:20px;
}

.contact .lighterDark{
    background-color:rgb(33,32,34);
    padding-top:80px;
}


.contact .lighterDark .title{
    background-color:rgb(33,32,34);
    font-weight:300;
    margin-top:0;
    font-size:26px;
    padding-top:80px;
}

.contact .logosWrap{
    background-color: rgb(68,68,68);
    font-size: 0;
    text-align:center;
}

.contact .logosWrap .logo{
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
    width:22%;
}

.contact .logosWrap .logo .wrap{
    width:80%;
    margin:0 auto;
    max-width:220px
}


.contact .logosWrap .logo .wrap:first-child{
    max-width: 260px;
}


.contact .logosWrap .logo .wrap:last-child{
    max-width: 160px;
}

.contactItemsSection{
    text-align:center;
    background-color:rgb(0,0,0);
    position:relative;
    z-index:30000;
}

.contactItemsSection .text:first-child{
    padding-top:85px;
}

.contactItemsSection .text{
    margin-bottom:15px;
}

.contactItemsSection .contactIcon{
    width:30px;
    margin:0 auto;
    margin-bottom:30px;
}

.fiberglass{
    background-color: rgb(33,33,33);
    text-align:center;
}

.fiberglass .title{
    font-weight:700;
    font-size:50px;
    padding-top:0px;
    margin-bottom:60px;
}

.fiberglass .text{
    width:70%;
    max-width:700px;
    margin:0 auto;
    font-weight:300;
    font-size:23px;
    line-height:30px;
    margin-bottom:30px;
}

.fiberglass .buttonWrap {
    margin-top:30px;
    margin-bottom:50px;
}

.fiberglass .buttonWrap .button{
    border-radius:100px;
    border:2px solid rgb(255,255,255);
    font-weight:500;
    font-size:20px;
    padding:15px 30px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color:rgba(255,255,255,0);
    cursor:pointer;
    display:inline-block;
}

.fiberglass .buttonWrap .button:hover{
    background-color:rgba(255,255,255,0.3);
}

.fiberglass .plantersWrap{
    text-align:center;
    font-size:0px;
    padding-top:20px;
}

.fiberglass .plantersWrap .planter{
    display:inline-block;
    vertical-align: top;
    max-width:500px;
    width:25%;
    margin:0 30px;
}

.fiberglass .plantersWrap .planter .imageWrap{
    height:30vw;
    max-height:350px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fiberglass .plantersWrap .planter .title{
    font-weight: 300;
    font-size:23px;
    padding-top:10px;
    margin:0;
}

.rItemHandle{
    width:35px;
    height:15px;
    margin-left:20px !important;
}

.rItemHandle .handle{
    width:100%;
    height:3px;
    border-radius:2px;
    position:absolute;
    background-color:rgb(0,0,0);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.rItemHandle .topHandle{
    top:0px;
}

.rItemHandle .bottomHandle{
    bottom:0px;
}

.mainMenuOpened .rItemHandle .topHandle{
    transform: rotate(45deg) translateX(8px);
}

.mainMenuOpened .rItemHandle .bottomHandle{
    transform: rotate(-45deg) translateX(8px);
}

.whiteMenu .rItemHandle .handle{
    background-color:rgb(255,255,255);
}

.products .product .rText{
    display:none;
    position:absolute;
    font-size:12vw;
    color:rgb(0,0,0);
    font-weight:100;
}

.rMenu{
    display:none !important;
}

.potHome .image{
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color:rgb(0,0,0);
}

#pot-image-phone{
    display:none;
}

.pot .buttonsWrap{
    text-align:center;
    margin-top:70px;
    color:rgb(0,0,0);
    margin-top:30px;
    margin-bottom:20px
}

.pot .buttonsWrap .button{
    display:inline-block;
    vertical-align: middle;
    margin:0.5%;
    border:2px solid rgb(0,0,0);
    padding: 10px 37px;
    border-radius:100px;
    cursor:pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color:rgba(0,0,0,0);
    color:rgb(0,0,0);
    font-size:1vw;
}

.pot .buttonsWrap .buttonActive{
    background-color: rgba(0,0,0,1) !important;
    color:rgb(255,255,255) !important;
}

.pot .buttonsWrap .button:hover{
    background-color:rgba(0,0,0,0.3);
}

.pot .responsive{
    display:none;
}

.pot .product{
    color:rgb(0,0,0);
    position:relative;
    padding-top:30px;
    background-color:#eaeaea;
}

.pot .product .slides{
    position: absolute;
    top:50%;
    left:0%;
    width:1000vw;
    font-size:0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.pot .product .slides .slide{
    width:100vw;
    max-width: 1920px;
    font-size:0;
    display:inline-block;
    vertical-align: top;
}

.pot .product .slides .slide .image{
    display:inline-block;
    vertical-align: middle;
    width:65vw;
    max-width: 1248px;
    font-size:16px;
    text-align:right;
    margin-top:1.5%;
}

.pot .product .slides .slide .image img{
    margin-left:10%;
}

.pot .product .slides .slide .textWrap{
    display:inline-block;
    vertical-align: middle;
    width:35vw;
    max-width: 672px;
    font-size:16px;
}

.pot .product .slides .slide .textWrap .title{
    font-weight:500;
    font-size:36px;
    margin-bottom:6%;
}

.pot .product .slides .slide .textWrap .subTitle{
    font-weight:100;
    font-size:18px;
    margin-bottom:10px;
}

.pot .product .slides .slide .textWrap .subTitle:first-child{
    margin-top:20px;
}

.pot .product .slides .slide .textWrap .subTitle .small{
    font-size:10px;
}

.pot .product .slides .slide .textWrap .spacer{
    margin-bottom:20%;
}

.pot .product .slides .slide .textWrap .smallSpacer{
    margin-bottom:10%;
}

.pot .product .slides .slide .textWrap .smallestSpacer{
    margin-bottom:5%;
}

.pot .product .slides .slide .textWrap .text{
    font-size:16px;
    font-weight:100;
    white-space: nowrap;
    margin-bottom: 8px;
}

.pot .product .slides .slide .textWrap .text .bold{
    font-weight:500;
}

.pot .product .slides .slide .textWrap .smallText{
    font-size:12px;
    font-weight:100;
}

.pot .product .dots{
    text-align:center;
    position:absolute;
    bottom:20px;
    width:100%;
}

.pot .product .dots .dot{
    margin:10px 3px;
    width:22px;
    height:5px;
    border-radius:5px;
    background-color:rgb(188,188,188);
    display:inline-block;
    vertical-align: middle;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.pot .product .dots .dotActive{
    background-color: rgb(81,81,81);
}

.pot .product .dots .dot:first-child{
    margin-left:-84px;
}

.pot .product .arrow{
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color: rgba(255,255,255,0);
    opacity:1;
    cursor: pointer;
    border-radius: 50px;
}

.pot .product .arrow:hover{
    background-color: rgba(255,255,255,1);
}

.pot .product .arrow img{
    display: block;
}

.pot .product .arrowLeft{
    left:10%;
}

.pot .product .arrowRight{
    right:10%;
}

.pot .responsive .images{
    position:relative;
}

.pot .responsive .images .man{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    background-image:url(/images/manResponsive.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.pot .responsive .images .background{
    position:absolute;
    top:0;
    left:-1000vw;
    width:2000vw;
    bottom:0;
    z-index:90;
    background-color:rgb(234,234,234);
}

    

.pot .responsive .images .slides{
    width:2000vw;
    font-size:0px;
    position:relative;
    z-index:110;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    left:0%;
    background-position:;
}

.pot .responsive .images .slides .slide{
    width:100vw;
    display:inline-block;
    vertical-align: middle;
    margin-right:50vw;
}

.pot .responsive .images .slides .slide .image{
}

.pot .responsive .textsWrap{
    width:2000vw;
    font-size:0px;
    position:relative;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    left:0%;
}

.pot .responsive .textsWrap .textWrap{
    font-size:12px;
    width:100vw;
    display:inline-block;
    vertical-align: bottom;
    position: relative;
    margin-right:50vw;
}

.pot .responsive .textsWrap .textWrap .titleWrap{
    display:inline-block;
    vertical-align: middle;
    width:35%;
}

.pot .responsive .textsWrap .textWrap .inlines{
    display:inline-block;
    vertical-align: middle;
    width:65%;
}

.pot .responsive .textWrap .title{
    font-weight:500;
    font-size:10vw;
    text-align:left;
    padding-left:2vw;
}

.pot .responsive .textWrap .subTitle{
    font-weight:100;
    font-size:4vw;
    text-align:left;
    padding-left:2vw;
}

.pot .responsive .textsWrap .textWrap .inlines{
    font-size:0;
}

.pot .responsive .textsWrap .textWrap .inlines .inline{
    vertical-align: bottom;
    display:inline-block;
    text-align:center;
    width:33%;
    margin-top:5px;
}


.pot .responsive .textsWrap .textWrap .price{
    position:absolute;
    bottom:0;
    right:10%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    z-index:3000;
    opacity:0;
}



.pot .responsive .textsWrap .textWrap .price{
    font-weight:300;
    font-size:4vw;
    color:rgb(94,94,94);
    background-color: rgb(183,183,183);
    padding:1vw;
    border-radius:0px 0px 1vw 1vw;
    opacity:0;
}


.pot .responsive .textsWrap .textWrap .price .small{
    font-size:1vw;
}


.pot .responsive .textsWrap .textWrap .inlines .inline .itemTitle{
    margin-bottom:10px;
}

.pot .responsive .textsWrap .textWrap .inlines .inline .itemContents .contentItem{
    display:inline-block;
    vertical-align:bottom;
    width:45%;
}

.pot .responsive .textWrap .subTitle .small{
    font-size:2vw;
}

.pot .responsive .textWrap .inline{
    font-size:2.9vw;
    font-weight:100;
}

.pot .responsive .textWrap .inline .bold{
    font-weight:500;
}

.pot .responsive .textWrap .smallText{
    font-size:3vw;
    font-weight:100;
}

.pot .responsive .dots{
    text-align:center;
    position:absolute;
    bottom:14vw;
    width:100%;
    z-index:120;
}

.pot .responsive .dots .dot{
    margin:1vw;
    width:2.5vw;
    height:0.5vw;
    border-radius:3px;
    background-color:rgb(188,188,188);
    display:inline-block;
    vertical-align: middle;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.pot .responsive .dots .dotActive{
    background-color: rgb(81,81,81);
}

.pot .responsive .buttons{
    text-align:center;
    margin-top:2vw;
    color:rgb(0,0,0);
    display:none;
}

.pot .responsive .buttons .button{
    display:inline-block;
    vertical-align: middle;
    margin:1vw;
    border:2px solid rgb(0,0,0);
    padding:2vw;
    font-size:5vw;
    width:30vw;
    border-radius:100px;
    cursor:pointer;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color:rgba(0,0,0,0);
    color:rgb(0,0,0);
}

.pot .responsive .buttons .buttonActive{
    background-color: rgba(0,0,0,1) !important;
    color:rgb(255,255,255) !important;
}

.whyFiberHead{
    background-position:70% center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url(/images/whyFiberHead.jpg);
}

.whyFiberTextPhoto .title{
    color: rgb(0,0,0);
    font-size:36px;
    font-weight: 500;
    text-align:center;
    margin-top:90px;
    margin-bottom:20px;
}

.whyFiberTextPhoto .photoText{
    background-image: url(/images/whyFiberPlants.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
}

.whyFiberTextPhoto .photoText .text{
    color:rgb(255,255,255);
    font-size:26px;
    line-height: 36px;
    text-align: center;
    margin:0 auto;
    padding:100px 0;
    width:40%;
    position:relative;
    z-index:120;
}

.whyFiberTextPhoto .photoText .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.4);
    z-index:100;
}

.blackFont{
    color:rgb(0,0,0);
}

.photoTextSideBySide{
    font-size: 0;
}

.photoTextSideBySide .photo{
    position:relative;
    top:0;
    display:inline-block;
    vertical-align: middle;
    width:50%;
    height:80vh;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:10vh;
}

.photoTextSideBySideLeftPhoto .photo{
    left:0;
}

.photoTextSideBySideRightPhoto .photo{
    right:0;
}

.photoTextSideBySide .textWrap{
    position:relative;
    top:0;
    width:50%;
    display:inline-block;
    vertical-align: middle;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:10vh;
    text-align: center;
    padding:0 100px;
}

.photoTextSideBySideLeftPhoto .textWrap{
    padding:0 40px;
}

.photoTextSideBySideRightPhoto .textWrap{
    padding:0 40px;
}

.photoTextSideBySide .textWrap .title{
    margin:0 auto;
    text-align:center;
    font-weight:500;
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
    padding-top:60px;
    margin-bottom:60px;
    position:relative;
    display:inline-block;
}

.photoTextSideBySide .textWrap .text{
    position:relative;
    left:0;
    right:0;
    margin:0 auto;
    text-align:justify;
    font-weight:300;
    font-size: 1.3vw;
    line-height: 1.6vw;
    padding-top:60px;
    letter-spacing:normal;
}

#site-wrap .textByText{
    font-size:0;
    padding-top:200px !important;
}

#site-wrap .materials{
    padding-top:200px !important;
}


.textByText .textWrap{
    width:50%;
    padding:0 5%;
    position:relative;
    text-align: center;
    display:inline-block;
    vertical-align: top;
}

.textByText .textWrap .title{
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
    font-weight:500;
    margin-bottom:60px;
    position: relative;
    display:inline-block;
    margin:0 auto;
}

.textByText .textWrap .text{
    font-weight:300;
    font-size: 1.3vw;
    line-height: 1.6vw;
    position:relative;
    left:0;
    right:0;
    margin:0 auto;
    text-align:justify;
    padding-top: 60px;
    letter-spacing: normal;
}

.materials .title{
    font-size:40px;
    margin-bottom:40px;
    font-weight:500;
    text-align: center;
}

.materials .tables{
    width:90%;
    margin:0 auto;
    font-size:0;
}

.materials .table{
    display: inline-block;
    vertical-align: top;
    width:20%;
    padding:0 10px;
}

.materials .table .title{
    font-size:17px;
    margin-bottom:20px;
    font-weight:300;
    white-space: nowrap;
}

.materials .table .row{
    height:18px;
    width:100%;
    position:relative;
    overflow:hidden;
    margin-bottom:18px;
}

.materials .table .row .fill{
    border-radius:20px;
    top:0;
    left:0;
    position:absolute;
    z-index:100;
    bottom:0;
    background:rgb(48,48,48);
    background: linear-gradient(180deg, rgba(41,41,41,1) 0%, rgba(58,58,58,1) 100%);
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -ms-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s;
}

.nonAnimatedMaterials .table .row .fill{
    width:0% !important;
}

.materials .table .row .background{
    width:100%;
    border-radius:20px;
    top:0;
    left:0;
    position:absolute;
    z-index:90;
    background:rgb(180,180,180);
    bottom:0;
    /*box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);*/
}

.materials .table .row .text{
    position:absolute;
    z-index:110;
    color:rgb(100,100,100);
    text-align:right;
    width:100%;
    padding-right:10px;
    font-size:12px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scrollIndication{
    position:absolute;
    bottom:20px;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width:25px;
}

.scrollIndication .responsive{
    display:none;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.scrollIndication .animated{
    -webkit-animation:pulse 2s ease-in-out infinite;
    -moz-animation:pulse 2s ease-in-out infinite;
    animation:pulse 2s ease-in-out infinite;
    transform-origin: center bottom;
}

.contents{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transform-origin: center top;
}

.scaled90{
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}


.scaled80{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.scaled70{
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.scaled60{
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.scaled50{
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.scaled50{
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
}

.scaled50{
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}


.paddedForMenu{
    padding-top:70px !important;
}

.contact .logosWrap{
    position: relative;
}

.contact .logosWrap .background{
    background-color:rgb(68,68,68);
    position:absolute;
    z-index:100;
    top:0;
    left:-1000vw;
    width:2000vw;
    bottom:0;
}

.contact .logosWrap .logo{
    position: relative;
    z-index:110;
}

.contact .lighterDark .title{
    position: relative;
}

.contact .lighterDark .title div{
    position:relative;
    z-index:200;
}

.contact .lighterDark .title .background{
    position:absolute;
    z-index:100;
    top:-100vh;
    left:-2000vw;
    width:4000vw;
    bottom:-20vh;
    background-color:rgb(33,32,34);
}

@media screen and (max-width: 1200px) {
    .pot .buttonsWrap .button{
        margin:20px;
    }

    .pot .product .slides .slide .textWrap .spacer{
        margin-bottom:20px;
    }

    .pot .product .slides .slide .textWrap .smallSpacer{
        margin-bottom: 12px;
    }

    .pot .product .slides .slide .textWrap .smallestSpacer{
        margin-bottom: 8px;
    }

    .whyFiberTextPhoto .photoText .text{
        width:60%;
    }

    .photoTextSideBySide .textWrap .text{
        font-size:20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 959px) {

    body{
        overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
    }

    #site-wrap{
        position:relative;
        top:0 !important;
    }

    .section{
        overflow-y:visible;
        height:auto;
        max-height:none;
        min-height: calc(var(--vh, 1vh) * 100);
    }

    .paddedForMenu{
        padding-top:0px !important;
    }

    #menu{
        padding-top:20px;
    }

    .fiberglass .title{
        padding-top:70px;
    }

    .home .writting{
        width:70%;
    }

    .diagramsWrap{
        margin-top:0px;
        position:relative;
        top:0%;
        -webkit-transform:translate(0%,0%);
        -moz-transform:translate(0%,0%);
        -ms-transform:translate(0%,0%);
        -o-transform:translate(0%,0%);
        transform:translate(0%,0%);
        padding-top:70px;
    }


    .vision .text{
        width:90%;
        font-size:3.5vw;
        line-height: 4vw;
    }
    .contact .contactWrap .inline .wrap .icon{
        max-width:100px;
        margin:0 auto;
    }

    .contact .contactWrap .inline .wrap .text{
        font-size:16px;
        font-weight:400;
    }

    #menu .menu{
        display:none;
    }

    #menu .rMenu{
        display:inline-block !important;
    }

    #body .whiteMenu .menu{
        width:calc(100% - 70px);
    }

    .products .product:hover .overlay{
        opacity:0;
    }
    .products .product .text{
        opacity:1 !important;
    }



    #menu #main-menu{
        display:block;
        position:absolute;
        top:59px;
        right:-100%;
        width:200px;
        padding:10px;
        background-color:rgba(0,0,0,0);
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    .mainMenuOpened #main-menu{
        right:0% !important;
        background-color:rgba(26,26,26,0.94) !important;
        color:rgb(255,255,255) !important;
    }

    #menu #main-menu .item{
        margin-left:0px;
        text-align:right;
        display:block;
        margin-bottom:15px;
    }


    #menu #main-menu .item:first-child{
        display:none;
    }

    #site-wrap .diagram2{
        min-height: 0;
        padding-top:70px !important;
    }

    .diagram2 .rImage{
        display:block;
        height:auto;
    }
    .diagram2 .rImage .main{
        position:relative;
    }

    .diagram2 .image{
        display:none;
    }

    #pot-image-phone{
        display:block;
    }

    #pot-image{
        display:none;
    }

    .whyFiberTextPhoto .photoText .text{
        width:80%;
    }

    .photoTextSideBySide{
        min-height: 0;
        padding-top:70px !important;
    }

    .photoTextSideBySide .photo{
        width:100%;
        height:50vh;
        display:block;
        margin-top:0;
    }

    .photoTextSideBySide .textWrap{
        width:100%;
        display:block;
        margin-top:0;
        padding:0px 50px;
    }

    .photoTextSideBySide .textWrap .title{
        margin-bottom:10px;
    }

    .photoTextSideBySide .textWrap .text{
        font-size:2.5vw;
        line-height: normal;
    }

    .textByText .textWrap{
        top:60px;
    }

    .textByText .textWrap .title{
        margin-bottom:30px;
        font-size:28px;
    }

    .materials .title{
        margin-bottom:10px;
    }

    .materials .table{
        display: block;
        width:100%;
    }

    .materials .table .title{
        margin-top:5px;
        margin-bottom:2px;
    }

    .materials .table .row{
        margin-bottom:3px;
        height:10px;
    }
    .materials .table .row .text{
        font-size:9px;
    }

    .scrollIndication .responsive{
        display:block;
    }

    .scrollIndication .nonResponsive{
        display:none;
    }

    .pot .buttonsWrap{
        display:none;
    }

    .pot .nonResponsive .manImage{
        max-width:150%;
        width:150%;
        margin-left:-20%;
    }

    .pot .product .slides .slide{
        vertical-align: bottom;
    }
    
    .pot .responsive .textWrap .title{
        font-size:36px;
    }

    .pot .responsive .textWrap .subTitle{
        font-size:28px;
    }

    .pot .responsive .textWrap .subTitle .small{
        font-size:14px;
    }

    .pot .responsive .textWrap .text{
        font-size:18px;
    }

    .pot .responsive .textWrap .smallText{
        font-size:12px;
    }

    .pot .responsive .buttons .button{
        font-size:18px;
    }
    .contact .lighterDark{
        padding-top:0px;
    }

    #site-wrap .materials{
        padding-top:70px !important;
    }

    #site-wrap .textByText{
        padding-top:10px !important;
    }

    .arrivals .arrivalTitle{
        top:0;
    }

    .contact .lighterDark .title{
        padding:20px 0;
        padding-top:70px;
        padding-bottom:0px;
        font-size:18px;
    }

    .pot .product .arrowLeft{
        left:10px;
    }

    .pot .product .arrowRight{
        right:10px;
    }

    .vision .text{
        position:relative;
        width:80%;
        top:auto;
        left: auto;
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    .vision{
        min-height:0;
        padding:70px 0 !important;
    }

    .fiberglass{
        min-height: 0;
    }

    .diagrams{
        min-height: 0;
    }

    .arrivals{
        min-height: 0;
    }

    .contact{
        min-height: 0;
    }

    .whyFiberTextPhoto{
        min-height: 0;
    }

    .materials{
        min-height: 0;
        padding:70px 0;
    }

    .textByText{
        min-height: 0;
        padding:70px 0;
    }

    .arrivals #arriving-products .item{
        height: auto;
        margin-top:0px;
    }

    .arrivals .navigation{
        bottom:30px;
    }

    .arrivals .responsive{
        display:block;
        width:100%;

    }

    .arrivals .image{
        display:none;
    }

    .contactItemsSection .text:first-child{
        padding-top:10px;
    }

}

@media screen and (max-width: 650px) {

    .home .writting{
        top:127px;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }

    #menu .logo{
        width:70px;
    }

    #menu .menu{
        width:calc(100% - 70px);
    }

    .home .writting .title{
        /*font-size:22px;
        line-height:36px;*/
        margin-bottom:10px;
        font-size: 28px;
        line-height:32px;
    }

    .home .writting .text{
        width:80%;
        font-size:10px;
        line-height:14px;
        margin-bottom:10px;
        display:none;
    }

    .home .writting .buttonsWrap{
        margin-top:35px;
    }

    .home .writting .buttonsWrap .button{
        font-size:12px;
        padding:10px;
        display:block;
        width:90px;
        margin-bottom:10px;
        text-align:center;
        border:2px solid rgb(0,0,0);
    }

    .products .product{
        display:block;
        width:100%;
        /*height: calc(50vh);
        height: calc(var(--vh, 1vh) * 50);*/
        height:auto;
        margin:5px auto;
        margin-top:0px;
    }

    .products .product .background{
        width:100%;
    }

    .products .product:first-child .image{
        /*bottom:0;
        top:auto;
        -webkit-transform: translate(-50%,0%);
        -moz-transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
        -o-transform: translate(-50%,0%);
        transform: translate(-50%,0%);*/
    }

    .products .product:first-child .text{
        /*bottom:0;
        top:auto;
        -webkit-transform: translate(-50%,0%);
        -moz-transform: translate(-50%,0%);
        -ms-transform: translate(-50%,0%);
        -o-transform: translate(-50%,0%);
        transform: translate(-50%,0%);*/
    }

    .products .product .image{
       /* max-height:calc(50vh);*/
       top:auto;
       left:auto;
       position:relative;
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }


    .products .product .image img{
        /*max-height:calc(50vh - 30px);
        max-height: calc(var(--vh, 1vh) * 50);*/
        width:auto;
        display:block;
        margin:0 auto;
    }

    #body #site-wrap .firstProduct{
        padding-top:5px !important;
    }

    .products .product .text{
        /*max-height:calc(50vh - 30px);
        max-height: calc(var(--vh, 1vh) * 50);*/
        opacity:1;
    }

    #site-wrap .products{
        min-height:0;
        padding-top:0px !important;
    }


    .products .product .text img{
        max-height:calc(50vh - 30px);
        max-height: calc(var(--vh, 1vh) * 50);
        display:block;
        margin:0 auto;
    }

    .vision .text{
        font-size:26px;
        line-height: 36px;
    }
    .diagrams .diagram{
        width:50%;
    }
    .diagrams .diagram .diagramContent{
        width:90%;
    }

    .diagrams .diagram .diagramContent .icon{
        width:100px;
        margin:0 auto;
    }
    .diagrams{
        padding-top:50px;
    }
    .contact .title{
        font-size:30px;
        font-weight:600;
    }

    .contact .contactWrap .inline{
        width:50%;
        margin-bottom:20px;
    }
    .contact .contactWrap .inline .wrap .text{
        margin-top:10px;
    }

    .fiberglass .buttonWrap .button{
        font-size:16px;
        padding:10px;

    }

    .fiberglass .buttonWrap{
        margin-top:10px;
        margin-bottom:30px;
    }

    .fiberglass .plantersWrap .planter .title{
        font-size:2vw;
    }

    .fiberglass .title{
        font-size:20px;
        margin-bottom:10px;
    }

    .fiberglass .text{
        width:90%;
    }
    .diagrams .diagram{
        margin-bottom:20px;
    }

    .whyFiberTextPhoto .title{
        font-size:24px;
    }

    .whyFiberTextPhoto .photoText .text{
        font-size:16px;
        line-height:22px;
    }

    .photoTextSideBySide .textWrap .text{
        font-size:3.2vw;
    }

    .photoTextSideBySide .textWrap .title{
        font-size:5.5vw;
    }

    .textByText .textWrap{
        width:100%;
        height:50%;
        padding:5% 10%;
        overflow:hidden;
    }

    .textByText .textWrap .title{
        margin-bottom:10px;
    }
    .textByText .textWrap .text{
        font-size:2.5vw;
        line-height:3.8vw;
    }

    .textByText .textWrapLeft{
        top:0%;
        padding-top:60px;
    }

    .textByText .textWrapRight{
        top:50%;
    }

    .materials .title{
        font-size:20px;
    }
    .materials .table .title{
        font-size:14px;
    }

    .arrivals .navigation{
        bottom:10px;
    }

    .pot .nonResponsive{
        display:none;
    }

    .pot .responsive{
        display:block;
    }

    .pot .responsive .textWrap .title{
        font-size:6.8vw;
    }

    .pot .responsive .textWrap .subTitle{
        font-size:3vw;
    }

    .pot .responsive .textWrap .subTitle .small{
        font-size:3.5vw;
    }

    .pot .responsive .textWrap .text{
        font-size:4.5vw;
    }

    .pot .responsive .textWrap .smallText{
        font-size:2.5vw;
    }

    .pot .responsive .buttons .button{
        font-size:3.5vw;
    }

    #site-wrap .textByText{
        padding-top:70px !important;
    }

    .pot .product .arrow{
        display: none;
    }

    #site-wrap .pot{
        padding-top:70px !important;
    }

    .pot .responsive .dots{
        bottom:5vw;
    }

    .pot .responsive .dots .dot{
        width:5vw;
        height: 1vw;
    }

    .fiberglass .responsiveInlinePlanters{
        display:inline-block;
        vertical-align: top;
        width:58%;
        text-align:left;
    }
    .fiberglass .plantersWrap{
        display:inline-block;
        vertical-align: top;
        width:40%;
        padding-top:100px;
    }

    .fiberglass .plantersWrap .planter{
        width:90%;
        display:block;
        margin-bottom:20px;
    }

    .fiberglass .title{
        padding-left:5px;
    }

    .fiberglass .text{
        font-size:13px;
        line-height:22px;
    }

}

@media screen and (max-width: 450px) {
    .home .writting .title{
        font-size:22px;
        line-height:28px;
    }
    .contact .logosWrap .logo{
        width:50%;
        margin-bottom:10px;
    }
    .contact .logosWrap .logo .wrap{
        width:60%;
    }

    .contact .logosWrap{
        padding-bottom:5px;
    }
    .contact .logosWrap .logo{
        margin-bottom:2px;
    }

    .photoTextSideBySide .textWrap .text{
        font-size:4.0vw;
    }

    .photoTextSideBySide .textWrap .title{
        font-size:6.0vw;
    }

    .textByText .textWrap .text{
        font-size:3.2vw;
        line-height:4.0vw;
    }

    .arrivals .navigation .item{
        width:30px;
        margin:0 10px;
    }

    .arrivals .navigation{
        bottom:30px;
    }

    .diagramsWrap{
        margin-top:30px;
    }

    .contact .logosWrap{
        padding-top:10px;
    }

}

/*@media screen and ( max-height: 450px ) {
    .diagram2 .rImage{
        display:none;
    }
    .diagram2 .image{
        display:block;
    }

    .products{
        background:none;
        background-color: rgb(33,33,33);
    }

    .products .product{
        width: calc(50% - 3px);
        height: 100vh;
        background-color: white;
        display: inline-block;
        vertical-align: middle;
    }

    .products .product:first-child{
        margin-right:3px;
    }

    .products .product:last-child{
        margin-left:3px;
    }

    

    .products .product .image{
        max-height:100vh;
        max-height: calc(var(--vh, 1vh) * 100 - 70px);
        text-align: center;
        bottom:auto !important;
        top:0 !important;
        -webkit-transform:translate(-50%,0%);
        -moz-transform:translate(-50%,0%);
        -ms-transform:translate(-50%,0%);
        -o-transform:translate(-50%,0%);
        transform:translate(-50%,0%);
    }

    .products .product .text{
        max-height:100vh;
        max-height: calc(var(--vh, 1vh) * 100 - 70px);
        text-align: center;
        opacity:1;
        bottom:auto !important;
        top:0 !important;
        -webkit-transform:translate(-50%,0%);
        -moz-transform:translate(-50%,0%);
        -ms-transform:translate(-50%,0%);
        -o-transform:translate(-50%,0%);
        transform:translate(-50%,0%);
    }

    .products .product .image img{
        width:auto;
        max-height:100vh;
        max-height: calc(var(--vh, 1vh) * 100 - 70px);
    }

    .products .product .text img{
        width:auto;
        max-height:100vh;
        max-height: calc(var(--vh, 1vh) * 100 - 70px);
    }

    .pot .responsive{
        display:none;
    }

    .pot .nonResponsive{
        display:block;
    }

    .pot .buttonsWrap{
        margin-top:0px;
    }

    .arrivals .navigation .item {
        width: 30px;
        margin: 0 10px;
    }

    .arrivals .navigation{
        bottom:20px;
    }

    .arrivals #arriving-products .item{
        background-size: 50% auto;
        background-position:center 130%;
    }
    .arrivals .arrivalTitle .button{
        margin-top:5px;
    }

    #pot-image-phone{
        display:none;
    }

    #pot-image{
        display:block;
    }

    .diagrams .diagram{
        width:33%;
    }

    .diagrams .contents{
        position:relative;
        top:-35px;
    }    

    .diagram2 .lImage{
        display:block;
    }


    .diagram2 .rImage, .diagram2 .image{
        display:none;
    }

    #menu{
        padding-top:20px;
    }

    .pot .product .slides .slide{
        -webkit-transform:scale(0.7);
        -moz-transform:scale(0.7);
        -ms-transform:scale(0.7);
        -o-transform:scale(0.7);
        transform:scale(0.7);
    }
}*/

@media screen and ( max-height: 550px ) {

    .home .writting{
        position:relative;
        margin-top:70px;
        padding-bottom:20px;
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        transform: translate(0%,0%);
        top:0;
    }

    .home .writting .contents{
        transform-origin: left top !important;
    }

    .home .writting .text{
        margin-bottom:30px;
    }
    .diagram2 .rImage{
        display: none;
    }
    .diagram2 .image{
        display: block;
    }

    .diagram2 .image{
        height:auto;
    }

    .diagram2 .image .main{
        position:relative;
    }

    .arrivals .image{
        display:block;
    }

    .arrivals .responsive{
        display:none;
    }

    #pot-image{
        display: block;
    }

    #pot-image-phone{
        display: none !important;
    }

    .products .product{
        height:auto;
    }

    .products .product .image{
        position:relative;
        top:auto;
        left:auto;
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    #menu .logo{
        width:60px;
    }
}
































