@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
    overflow:hidden;
    font-size: 16px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    text-decoration: none;
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    margin:.67em 0;
    font-size:2em
}
mark{
    color:#000;
    background:#ff0
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width: 100%;
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    margin:0;
    font:inherit;
    color:inherit
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:0;
    border:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-spacing:0;
    border-collapse:collapse
}
td,th{
    padding:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#menu{
    padding:20px 5%;
    position:fixed;
    top:0px;
    width:100%;
    left:0px;
    right:0px;
    max-width: 1920px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    z-index:1100;
    font-size:0px;
    color:rgb(0,0,0);
    margin:0 auto;
}

#menu .logo, #menu .menu{
    display:inline-block;
    vertical-align: middle;
    font-size:14px;
}

#menu .logo{
    width:150px;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    position:relative;
    top:8px;
}

#menu .logo .black{
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}



#menu .logo .white{
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

#menu .menu{
    width:calc(100% - 150px);
    text-align:right;
}

#menu .menu .item{
    display:inline-block;
    vertical-align: middle;
    margin-left: 40px;
    cursor: pointer;
    position:relative;
    font-weight:500;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    font-size:18px;
}

#menu .menu .item .white{
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity:0;
}

#menu .menu .item .black{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity:1;
}

#menu .menu .itemActive{
    font-weight:700;
}

#menu .menu .item img{
    display: block;
}

.whiteMenu{
    background-color:rgba(0,0,0,0.2);
    padding:10px 5% !important;
}

.whiteMenu .logo{
    width:100px !important;
}


.whiteMenu .logo .white{
    opacity:1 !important;
}

.whiteMenu .logo .black{
    opacity:0 !important;
}

.whiteMenu .menu .item{
    color:rgb(255,255,255);
}

.whiteMenu .menu .item .black{
    opacity:0 !important;
}

.whiteMenu .menu .item .white{
    opacity:1 !important;
}

#site-wrap{
    max-width:1920px;
    margin:0 auto;
    position:fixed;
    top:0;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all ease 0.9s;
    -moz-transition: all ease 0.9s;
    -ms-transition: all ease 0.9s;
    -o-transition: all ease 0.9s;
    transition: all ease 0.9s;
    z-index:1000;
}

.section{
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-width:1920px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}

.home{
    background-image: url(/images/Terapot2.jpg);
    background-size:cover;
    background-position: right bottom;
    color:rgb(0,0,0);
}

.home .writting{
    position:absolute;
    top:50%;
    left:5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width:60%;
}

.home .writting .title{
    font-size:45px;
    font-weight:500;
    margin-bottom:20px;
    line-height: 60px;
}

.home .writting .text{
    width:50%;
    font-size:16px;
    line-height: 24px;
    margin-bottom:100px;
}

.home .writting .buttonsWrap{
    text-align:left;
}

.home .writting .buttonsWrap .button{
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
    font-weight:500;
    padding:10px 25px;
    border:3px solid rgb(0,0,0);
    margin-right:10px;
    border-radius:25px;
    cursor:pointer;
    background-color:rgba(0,0,0,0);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
    color:rgb(0,0,0);
}


.home .writting .buttonsWrap .black{
    background-color:rgba(0,0,0,1);
    color:rgb(255,255,255);
}

.home .writting .buttonsWrap .button:hover{
    background-color:rgba(0,0,0,0.5);
    color:rgb(255,255,255);

}

.products{
    background-color:rgb(33,32,34);
    font-size:0;
}

.products .product{
    font-size:20px;
    width:50%;
    height:calc(100vh - 20px);
    margin-top:10px;
    background-color:white;
    display:inline-block;
    vertical-align: bottom;
    position:relative;
    background-color:rgb(33,32,34);
}

.products .product .image{
    width:calc(100% - 5px);
    position:absolute;
    left:0;
    height:100%;
    top:0;
    background-position: center center;
    background-size:cover;
}

.products .product:last-child .image{
    right:0;
    left:auto;
}

.products .product .overlay{
    width:100%;
    position:absolute;
    left:0;
    height:100%;
    top:0;
    background:rgba(0,0,0,0.3);
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    opacity:0;
}

.products .product:last-child .overlay{
    right:0;
    left:auto;
}

.products .product:hover .overlay{
    opacity:1;
}


.products .product .text{
    width:calc(100% - 5px);
    position:absolute;
    left:0;
    top:50%;
    text-align:center;
    font-size:40px;
    font-weight:100;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:rgb(255,255,255);
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    opacity:0;
}

.products .product:last-child .text{
    right:0;
    left:auto;
}

.products .product:hover .text{
    opacity:1;
}

.arrivals{
    background-size:cover;
    background-image:url(/images/arrivals.jpg);
    background-position:center bottom;
}


.arrivals #arriving-products{
    font-size:0;
    width:10000vw;
    position: relative;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.arrivals #arriving-products .item{
    width:100vw;
    height:100vh;
    max-width:1920px;
    text-align:center;
    display:inline-block;
    vertical-align: middle;
    background-position:center bottom;
    background-repeat: no-repeat;
}

.arrivals .navigation{
    position:absolute;
    bottom:10px;
    text-align:center;
    width:100%;
}

.arrivals .navigation .item{
    display:inline-block;
    vertical-align: middle;
    margin:0 20px;
    border-radius:50px;
    background-color:rgba(255,255,255,0);
    position:relative;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.arrivals .navigation .item img{
    display:block;
}

.arrivals .navigation .item:hover{
    background-color:rgba(255,255,255,1);
}


.arrivals .navigation .item .black{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.arrivals .navigation .item .white{
    opacity:1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.arrivals .navigation .item:hover .white{
    opacity:0;
}

.arrivals .navigation .item:hover .black{
    opacity:1;
}

.arrivals .arrivalTitle{
    position:absolute;
    top:120px;
    width:100vw;
    max-width:1920px;
    text-align:center;
}

.arrivals .arrivalTitle .button{
    color:rgb(255,255,255);
    margin-top:40px;
    font-size:16px;
    font-weight:100;
    text-align:center;
}

.arrivals .arrivalTitle .title{
    font-size:32px;
    color:rgba(255,255,255,0.8);
}

.vision{
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url(/images/vision2.jpg);
}

.vision .overlay{
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.vision .text{
    font-size:40px;
    font-weight:300;
    color:rgb(255,255,255);
    line-height:55px;
    position:relative;
    width:40%;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    text-align:center;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.diagrams{
    background-color:rgb(33,32,34);
    color:rgb(219,219,219);
    font-size:0px;
    text-align:center;
    padding-top:150px;
}

.diagrams .diagram{
    width:33%;
    display:inline-block;
    vertical-align: top;
    font-size:16px;
    margin-bottom:50px;
}



.diagrams .diagram .diagramContent{
    width:200px;
    margin:0 auto;
}

.diagrams .diagram .diagramContent .title{
    font-weight: 500;
    font-size:16px;
    margin-bottom:10px;
}

.diagrams .diagram .diagramContent .text{
    font-size:12px;
}

.diagram2{
    background-color:rgb(33,32,34);
}

.diagram2 .image{
    position:absolute;
    bottom:0;
    left:0;
    overflow:hidden;
}

.diagram2 .dotWrap{
    position: absolute;
    overflow-x: hidden;
    width:1vw;
    padding-top:2.5vw;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram2 .dotWrap{
    width:100vw;
}

.diagram2 .image img{
    max-width: 100%;
    display: block;
}

.diagram2 .dotWrap .relative{
    width:100vw;
}

.diagram2 .title{
    right:5vw;
    top:5vw;
    font-weight: 900;
    position: absolute;
    text-align: right;
    font-size:5vw;
    letter-spacing: 20px;
}

.diagram2 .dotWrap .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram2 .dotWrap .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:40vw;
    display:inline-block;
    vertical-align: middle;
    position:relative;
    text-align:right;
}
.diagram2 .dotWrap .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:right;
    font-size:2vw;
    font-weight:500;
}





.diagram3{
    background-color:rgb(33,32,34);
}

.diagram3 .image{
    position:absolute;
    bottom:0;
    right:0;
    overflow:hidden;
}

.diagram3 .dotWrap{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrap{
    opacity:1;
}

.diagram3 .image img{
    max-width: 100%;
    display: block;
}

.diagram3 .dotWrap .relative{
    
}

.diagram3 .title{
    left:5vw;
    top:5vw;
    font-weight: 900;
    position: absolute;
    text-align: left;
    font-size:5vw;
    letter-spacing: 20px;
}

.diagram3 .dotWrap .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrap .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:40vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:1vw;
    top:3.25vw;
    text-align:right;
}
.diagram3 .dotWrap .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:left;
    font-size:1.25vw;
    font-weight:500;
}



.diagram3 .dotWrapUpRight{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrapUpRight{
    opacity:1;
}

.diagram3 .dotWrapUpRight .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrapUpRight .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:21vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    left:0.5vw;
    top:-14vw;
    text-align:right;
}

.diagram3 .dotWrapUpRight .lineUp{
    height:17vw;
    background-color: rgb(255,255,255);
    width:1px;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    left:0.5vw;
    top:-14vw;
    text-align:right;
}


.diagram3 .dotWrapUpRight .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:right;
    font-size:1.25vw;
    font-weight:500;
}



.diagram3 .dotWrapUpLeft{
    position: absolute;
    width:1vw;
    padding-top:2.5vw;
    text-align: right;
    opacity:0;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
    transition: all ease 5s;
}

.animatedDiagram3 .dotWrapUpLeft{
    opacity:1;
}

.diagram3 .dotWrapUpLeft .dot{
    width:0.7vw;
    height: 0.7vw;
    display:inline-block;
    border-radius:10px;
    border:2px solid rgb(255,255,255);
    vertical-align: middle;
}

.diagram3 .dotWrapUpLeft .line{
    height:1px;
    background-color: rgb(255,255,255);
    width:21vw;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:0.5vw;
    top:-14vw;
    text-align:right;
}

.diagram3 .dotWrapUpLeft .lineUp{
    height:17vw;
    background-color: rgb(255,255,255);
    width:1px;
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    right:0.5vw;
    top:-14vw;
    text-align:right;
}


.diagram3 .dotWrapUpLeft .line .text{
    position:absolute;
    transform: translateY(-100%);
    width:100%;
    text-align:left;
    font-size:1.25vw;
    font-weight:500;
}



.contact{
    background-color:rgb(0,0,0);
    color:rgb(219,219,219);
}

.contact a{
    color:rgb(219,219,219);
}

.contact .title{
    font-size:40px;
    font-weight:600;
    text-align:center;
    margin-top:60px;
    margin-bottom:40px;
}

.contact .contactWrap{
    font-size:0;
    text-align: center;
}

.contact .contactWrap .inline{
    display:inline-block;
    vertical-align: top;
    width:25%;
    font-size:20px;
}

.contact .contactWrap .inline .wrap{
    width:80%;
    max-width:150px;
    margin:0 auto;
}

.contact .contactWrap .inline .wrap .text{
    margin-top:20px;
}

.contact .lighterDark{
    background-color:rgb(33,32,34);
    padding-top:80px;
}


.contact .lighterDark .title{
    background-color:rgb(33,32,34);
    font-weight:300;
    margin-top:0;
    font-size:26px;
    padding:40px 0;
}

.contact .logosWrap{
    background-color: rgb(68,68,68);
    padding-bottom:30px;
    font-size: 0;
    text-align:center;
}

.contact .logosWrap .logo{
    display:inline-block;
    vertical-align: middle;
    font-size:12px;
    width:25%;
}

.contact .logosWrap .logo .wrap{
    width:80%;
    max-width:200px;
    margin:0 auto;
}

.contactItemsSection{
    text-align:center;
    background-color:rgb(0,0,0);
}

.contactItemsSection .text:first-child{
    padding-top:40px;
}

.contactItemsSection .text{
    margin-bottom:15px;
}

.contactItemsSection .contactIcon{
    width:30px;
    margin:0 auto;
    margin-bottom:30px;
}

.fiberglass{
    background-color: rgb(33,33,33);
    text-align:center;
}

.fiberglass .title{
    font-weight:700;
    font-size:30px;
    padding-top:70px;
    margin-bottom:40px;
}

.fiberglass .text{
    width:70%;
    max-width:700px;
    margin:0 auto;
    font-weight:300;
    font-size:16px;
    line-height:20px;
}

.fiberglass .buttonWrap {
    margin-top:30px;
}

.fiberglass .buttonWrap .button{
    border-radius:100px;
    border:2px solid rgb(255,255,255);
    font-weight:500;
    font-size:20px;
    padding:15px 30px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color:rgba(255,255,255,0);
    cursor:pointer;
    display:inline-block;
}

.fiberglass .buttonWrap .button:hover{
    background-color:rgba(255,255,255,0.3);
}

.fiberglass .plantersWrap{
    text-align:center;
    font-size:0px;
    padding-top:20px;
}

.fiberglass .plantersWrap .planter{
    display:inline-block;
    vertical-align: top;
    max-width:500px;
    width:30%;
    margin:0 5px;
}

.fiberglass .plantersWrap .planter .imageWrap{
    height:30vw;
    max-height:400px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fiberglass .plantersWrap .planter .title{
    font-weight: 500;
    font-size:14px;
    padding-top:10px;
    margin:0;
}

.rItemHandle{
    width:35px;
    height:15px;
    margin-left:20px !important;
}

.rItemHandle .handle{
    width:100%;
    height:3px;
    border-radius:2px;
    position:absolute;
    background-color:rgb(0,0,0);
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
    -o-transition:all ease 0.5s;
    transition:all ease 0.5s;
}

.rItemHandle .topHandle{
    top:0px;
}

.rItemHandle .bottomHandle{
    bottom:0px;
}

.whiteMenu .rItemHandle .handle{
    background-color:rgb(255,255,255);
}

.products .product .rText{
    display:none;
    position:absolute;
    font-size:12vw;
    color:rgb(0,0,0);
    font-weight:100;
}

.rMenu{
    display:none !important;
}

@media screen and (max-width: 959px) {
    .home .writting{
        width:70%;
    }

    .products .product{
        display:block;
        width:100%;
        height:calc(50vh - 5px);
        margin:5px auto;
    }

    .products .product .image{
        width:100%;
    }

    .vision .text{
        width:90%;
    }
    .contact .contactWrap .inline .wrap .icon{
        max-width:100px;
        margin:0 auto;
    }

    .contact .contactWrap .inline .wrap .text{
        font-size:16px;
        font-weight:400;
    }

    #menu .menu{
        display:none;
    }

    #menu .rMenu{
        display:inline-block !important;
    }

    #body .whiteMenu .menu{
        width:calc(100% - 100px);
    }

    .products .product:hover .text{
        opacity:0;
    }

    .products .product:hover .overlay{
        opacity:0;
    }
    .products .product .rText{
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .home .writting{
        top:90px;
        width:90%;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }

    #menu .logo{
        width:100px;
    }

    #menu .menu{
        width:calc(100% - 100px);
    }

    .home .writting .title{
        font-size:30px;
        line-height:36px;
        margin-bottom:10px;
    }

    .home .writting .text{
        width:80%;
    }

    .home .writting .buttonsWrap .button{
        font-size:14px;
    }
    .arrivals #arriving-products .item{
        background-size:cover;
    }
    .vision .text{
        font-size:26px;
        line-height: 36px;
    }
    .diagrams .diagram{
        width:50%;
    }
    .diagrams .diagram .diagramContent{
        width:90%;
    }

    .diagrams .diagram .diagramContent .icon{
        width:100px;
        margin:0 auto;
    }
    .diagrams{
        padding-top:50px;
    }
    .contact .title{
        font-size:30px;
        font-weight:600;
    }

    .contact .contactWrap .inline{
        width:50%;
        margin-bottom:20px;
    }
    .contact .contactWrap .inline .wrap .text{
        margin-top:10px;
    }
    .contact .lighterDark .title{
        margin-bottom:20px;
    }

    .fiberglass .buttonWrap .button{
        font-size:16px;
        padding:10px;

    }

    .fiberglass .buttonWrap{
        margin-top:10px;
    }

    .fiberglass .plantersWrap .planter .title{
        font-size:2vw;
    }

    .fiberglass .title{
        font-size:20px;
        margin-bottom:10px;
    }

    .fiberglass .text{
        width:90%;
    }
}

@media screen and (max-width: 450px) {
    .home .writting .title{
        font-size:24px;
        line-height:30px;
    }
    .contact .logosWrap .logo{
        width:50%;
        margin-bottom:10px;
    }
    .contact .logosWrap .logo .wrap{
        width:60%;
    }
}

































